
img {
    width: 50px; /* Asegúrate de que la imagen ocupe todo el ancho */
    height:50px; /* Mantiene la proporción */

  }


footer{
    background-color:grey;
}
img {
    width: 50px; /* Asegúrate de que la imagen ocupe todo el ancho */
    height:50px; /* Mantiene la proporción */

  }